<style>
  body {background-color: #F5F6F5;}

</style>

<div class="container mt-5">
    <p>A clean, lightweight and focused sales companion platform built for Revenue and Sales teams.</p>
    <p>version 1.0.0</p>
</div>
