<style>
  body {background-color: #F5F6F5;}
</style>
<h4 class="fontColorStyle">Dashboard</h4>
<hr>
<div class="container mt-3">
    <h5 id="userGreeting" class="mb-3"></h5>
    <p>Your Revenue Manager is currently reviewing {{managementStatusCount}} proposals.</p>
</div>

<script src="/javascripts/greeting.js"></script>
<script>
setGreeting(userGreeting, currentHour, '{{{name}}}');
</script>

