<h4 id="userGreeting"></h4>
<p>You have {{clientStatusCount}} pending proposals submitted to clients.</p>
<p>Your Revenue Manager is currently reviewing {{managementStatusCount}} proposals.</p>

<script src="/javascripts/greeting.js"></script>
<script>
setGreeting(userGreeting, currentHour, '{{{name}}}');
</script>

